@model VotingApp.Models.AccountView

<h1>введите данные</h1>

<h2>@Model.msg</h2>

<form method="POST">
    <label asp-for="login">Логин</label><br />
    <div><span asp-validation-for="login"></span></div>
    <input type="text" name="login" id="login" asp-for="login" /><br /><br />

    <label asp-for="passwd">Пароль</label><br />
    <div><span asp-validation-for="passwd"></span></div>
    <input type="password" name="passwd" id="passwd" asp-for="passwd" /><br /><br />

    <input type="submit" value="Оправить" /><br /><br />
</form>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}