

<form method="POST">
    <div class="col-sm-3">
        <input type="text" class="form-control mb-2" name="name" />
        <input type="submit" class="btn btn-primary" value="Добавить" /><br /><br />
    </div>
</form>

