
@{
    ViewData["Title"] = "ChangeVoting";
}

    <div class="form-group row mb-2">
        <div class="col-sm-4">
            <select class="selectpicker" data-live-search="true" id="votings_view">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <option value="@Model[i].Id">@Model[i].Name</option>
                }
            </select>
        </div>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="name" id="voting_name" />
        </div>
        <div class="col-sm-2 centercont">
            <input class="form-check-input" type="checkbox" id="resetVotes">
            <label class="form-check-label" for="resetVotes">
                Сбросить голоса
            </label>
        </div>
        <div class="col-sm-2">
            <input type="submit" class="btn btn-primary" id="voting_change" value="Изменить" />
        </div>
    </div>
    <table class="table table-condensed table-striped  col-md-6">
        <thead><tr><th>Кандидат</th><th>голосов</th><th></th></tr></thead>
        <tbody>
        </tbody>
    </table>


